[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipfile = "*"
ipykernel = "*"
jupyter = "*"
streamlit = "*"

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
isort = "*"
pandas = "*"
requests = "*"
youtube-transcript-api = "*"
python-dotenv = "*"
tqdm = "*"
langchain-community = "*"
langchain-core = "*"

[requires]
python_version = "3.10"
